<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS,Z}Z %-5p \(%file:%line\) [%thread] :: %msg %n</pattern>
      <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>  -->
    </encoder>
  </appender>
 
  <logger name="com.github.xcrigx" level="TRACE" />
   
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>